<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sales 2019</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AboutUs">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Showroom">Show Room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sales">Sales 2019</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AutoParty">Year End Party</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="https://res.cloudinary.com/dwnqgtvop/image/upload/v1569520773/38065951-african-car-salesman-standing-at-showroom-presenting-new-cars_axdbj3.jpg"
                 alt="Sales" style="width:100%">
        </div>
        <div class="col-md-3 text-center">
            <h6><b>Salesman of the Year:</b></h6>
            <h6><b>Greg Fisher </b></h6>
        </div>
        <div class="col-md-6">
            <h6><b>Best Car Sales Tips</b></h6>
            <p>There is a laundry list of tasks associated with selling cars that are only tangentially related to the sale.
                Before, during, and after the deal, the salesperson is required to:</p>


            <ol>Maintain Meticulous Notes (customer preferences, trade-ins, pricing expectations)</ol>
            <ol>Keep Track of Issues with Inventory (low gas, damage, missing)</ol>
            <ol>Keep Track of Car Keys</ol>
            <ol>Keep Personal Information and Documents Secure</ol>
            <ol>Answer All Incoming Phone Calls (In a Timely Fashion)</ol>
            <ol>Answer All Incoming Texts</ol>
            <ol>Answer All Incoming Emails</ol>
            <ol>Remember When Surveys are Dropping and Then Remind Customers</ol>
            <ol>Set Aside Loaner Cars for Service Customers</ol>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>